html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

code, pre {
	font-family: 'Cutive Mono', monospace;
}
h1 {
	font-size: 5.6rem;
	font-weight: 900;
	margin: 0;
}
h2 {
	font-size: 18pt;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
}
h4 {
	font-size: 14pt;
}
a {
	color: #0B6D88;
	text-decoration: none;
}
.btn {
	background-color: #0B6D88;
	color: #FFFFFF;
	border-radius: .2rem;
	text-align: center;
	text-transform: capitalize;
	padding: .9rem 2rem;
}
.btn-rnd {
	border: 2px solid #000000;
	height: 3.2rem;
	width: 3.2rem;
	display: inline-block;
	border-radius: 2rem;
}

.main {
	margin: 0 auto;
	max-width: 980px;
	padding: 20px;
}
.header {}
.sub-header {
	overflow: hidden;
	margin-top: 4rem;
}
.content {
	margin-top: 1.5em;
}
nav {
	float: left;
	text-transform: uppercase;
	width: 16rem;
}
.nav__item {
	color: #000000;
	border-right: 2px solid #000000;
	display: block;
	padding-top: 1.5rem;
	position: relative;
}
.nav__item:first-of-type {
	padding-top: 0;
}
.nav__item::after,
nav.hovering .nav__item:hover::after {
	content: "";
	display: block;
	height: 1.1rem;
	width: 1.1rem;
	border-radius: 1rem;
	border: 2px solid #000000;
	background: #FFFFFF;
	position: absolute;
	right: -.9rem;
	top: 1.7rem;
	opacity: 0;
	transition: opacity .2s ease-out;

}
.nav__item.selected::after {
	opacity: 1;
}
.nav__item.selected:first-of-type::after,
nav.hovering .nav__item:first-of-type:hover::after {
	top: .2rem;
}
nav.hovering .nav__item.selected::after {
	opacity: 0;
}
nav.hovering .nav__item:hover::after,
nav.hovering .nav__item.selected:hover::after {
	opacity: 1;
}
nav .btn {
	display: block;
	margin-top: 4rem;
}
.social-links {
	float:right;
	margin-top: 4rem;
}
.social-links .btn-rnd {
	margin: 0 .2rem;
}

.right {
	margin-left: 20rem;
}
.apache-feather {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}





.title, .subtitle {
	color: black;
	font-size: 50pt;
	line-height: 55%;
    text-align: center;
}
.subtitle {
	font-size: 20pt;
}
.projects, .projects a {
	font-style: normal;
	font-size: 11pt;
}

.numeric {
  text-align: right;
}
.data-table {
  border: 1px solid #a9a9a9;
  border-collapse: collapse;
  width: 1000px;
}
.data-table td, .data-table th {
  border: 1px solid #888;
  padding: 2px;
}
.data-table th {
  background-color: #ccc;
  font-weight: bold;
}
.advert-message {
  border: 3px solid #2e4a8e;
  padding: 15px;
}
.buzzword {
	font-size: 18pt;
	line-height: 200%;
	color: #2e4a8e;
}
.caption {
	font-size: 11pt;
	font-weight: bold
}
.toc {
	font-size: 15pt;
}
.toc ul {
	font-size: 14pt;
}
.toc ul ul {
	font-size: 13pt;
}

.index {
	text-align: center;
	padding-right: 10rem;
}
.desc {
	margin-top: 6rem;
	margin-bottom: 5rem;
}
.desc--m {
	display: none;
	margin-bottom: 6rem;
}
.desc-item {
	float: left;
	width: 33%;
	min-width: 25rem;
}
.desc-item h3 {
	text-transform: uppercase;
}
.desc-item p {
	margin: 0;
	width: 22rem;
}
.desc-item p:before {
	content: "";
	border-top: 2px solid #000000;
	display: block;
	width: 5rem;
	margin: .2rem 0 1rem;
}
.callout {
	font-size: 1.4rem;
	background-color: #F0F0F0;
	padding: 20px 30px;
	width: 330px;
	margin: 2rem auto 0;
}

/* Smaller viewports */
@media only screen and (max-width: 900px) {
	.desc {
		display: none;
	}
	.desc--m {
		display: block;
	}
  .desc-item {
		float: none;
		width: auto;
		margin-bottom: 4rem;
	}
	.desc-item p {
		width: auto;
	}
}
